@charset "utf-8";

/*------------------------------------------
  初期スタイル調整
------------------------------------------*/
* {
    box-sizing: border-box;
}

/* body全体の初期スタイル調整 */
body {
    line-height: 1.75;
    font-family: sans-serif;
}

/* 各要素の初期スタイル調整 */
h1,
h2 {
    margin-top: 0;
    line-height: 1.333;
}

a {
    color: #806342;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

ul {
    margin: 1em 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/*------------------------------------------
  ヘッダー
------------------------------------------*/
.header {
    width: 960px;
    margin: 0 auto;
    padding: 2em 0;
}

.header__logo {
    margin: 0;
    text-align: center;
}

.header__logo>img {
    width: 110px;
}

.main {
    width: 960px;
    margin: 0 auto;
}

.main__nav {
    margin-bottom: 2em;
    text-align: center;
}

.main__nav ul li {
    display: inline-block;
    margin: 0;
    border-left: 1px solid #806342;
}

.main__nav ul li:first-child {
    border-left: none;
}

.main__nav ul li a {
    display: inline-block;
    padding: 0 1em;
    line-height: 1;
    text-transform: uppercase;
}

/*------------------------------------------
  セクション
------------------------------------------*/

.section {
    margin: 4em auto;
}

/*見出し*/
.heading {
    margin-bottom: 1em;
    text-align: center;
}

/*アバウト
------------------------------------------*/
.about {
    text-align: center;
}

/*メニュー
------------------------------------------*/
.menu {
    text-align: center;
}

ul.menu__list {
    display: inline-block;
    text-align: left;
}

/*メニューリスト*/
ul.menu__list li {
    margin-bottom: .5em;
}

/*フォト
------------------------------------------*/
.photos {
    width: 50%;
}

/*フォトリスト*/
ul.photos__list {
    list-style: none;
}

ul.photos__list li {
    margin-bottom: 2em;
}

ul.photos__list figcaption {
    font-size: .9em;
}

/*アクセス
------------------------------------------*/
/*アクセス　左右横並び*/
.access__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/*左側(フレックスアイテム)*/
.access__address strong {
    display: block;
    margin: 10px 0;
    font-size: 1.5em;
}

/*右側(フレックスアイテム)*/
.access__map {
    flex: 0 1 50%;
}

/*------------------------------------------
  フッター
------------------------------------------*/
.footer {
    margin: 0 auto;
    padding: 20px 0;
    background-color: #edc245;
}

/*フッターの中身*/
.footer__container {
    display: flex;
    margin: 0 auto;
    width: 960px;
    justify-content: space-between;
    align-items: center;
}

/*フッターロゴ(左側)*/
.footer__logo {
    width: 60px;
}

/*フッター・その他要素(右側)*/
.footer__body {
    text-align: right;
}

.footer__nav {
    margin-bottom: 1em;
}

/*フッターナビリスト*/
.footer__nav ul li {
    display: inline-block;
    margin: 0;
    border-left: 1px solid #fff;
}

.footer__nav ul li:first-child {
    border-left: none;
}

.footer__nav ul li a{
    display: inline-block;
    padding: 0 15px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
}

.footer__nav ul li:last-child a{
    padding-right: 0;
}

.copyright {
    color: #fff;
}